.comp {
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 2px solid black;
    margin: 0px;
}
#title {
    height: 200 px;
    padding: 10px;
    border: 0px;
    margin: 0px;
}
#restart {
    font-size: 20px;
    width: 100px;
    height: 50px;
    padding: 0px;
    border: 2px solid black;
    margin: 10px;
}