h1 {
    font-size: 100px;
}
div {
    text-align: center;
}
.comp {
    height: 200px;
    width: 200px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
#table {
    overflow: hiddlen;
    white-space: nowrap;
}